# Cost of Travel Index - CODECS Spend

"""
============================================================================
ACCOMMODATIONS: State-Level Cost Calculation (PySpark Version)
============================================================================
Purpose: Calculate median accommodation costs at the state level using Spark DataFrames

Aggregation: None - individual transactions analyzed
Minimum Threshold: $50 per transaction (filters out incidental charges like
                   parking fees, minibar, resort fees charged separately)
Outlier Removal: P5/P98 per state
Date Range: Configurable (default 2-week test period)

Rationale: Using individual transactions with $50 minimum threshold provides
           a representative sample of accommodation bookings while filtering
           out small incidental charges. This simpler approach avoids the
           complexity of cardholder aggregation while still capturing typical
           hotel stay costs.

MCC Codes: 3501-3838 (hotel chains), 7011-7012 (hotels/timeshares)
           300+ codes covering various hotel chains, resorts, and accommodations
============================================================================
"""
**spark.jars**  
gs://dataproc-metastore-public-binaries/dependencies/delta-storage-3.1.0.jar,gs://dataproc-metastore-public-binaries/dependencies/delta-spark_2.13-3.1.0.jar

<center><img src="../../docs/images/delta-jars.png" width="50%" height="50%"/></center>

In [9]:
from pyspark.sql import SparkSession, Window
from pyspark.sql import functions as F
from datetime import date

In [7]:
spark = SparkSession.builder \
  .appName("delta") \
  .config("spark.sql.extensions", "io.delta.sql.DeltaSparkSessionExtension") \
  .config("spark.sql.catalog.spark_catalog", "org.apache.spark.sql.delta.catalog.DeltaCatalog") \
  .enableHiveSupport() \
  .getOrCreate()

In [12]:
# GCS bucket URIs
MERCHANT_TOURISM_PATH = "gs://spend-codecs-prod/enrichment/merchant_tourism"
TRANSACTION_TOURISM_PATH = "gs://spend-codecs-prod/enrichment/transaction_tourism"

In [13]:
# Initialize Spark session (if not already initialized)
# spark = SparkSession.builder.appName("AccommodationsStateCost").getOrCreate()

# Read data from GCS buckets
merchant_df = spark.read.parquet(MERCHANT_TOURISM_PATH)
transaction_df = spark.read.parquet(TRANSACTION_TOURISM_PATH)

In [45]:
# CONFIGURATION: Update these values as needed
START_DATE = date(2024, 1, 1)
END_DATE = date(2024, 12, 31)
DISTANCE_THRESHOLD = 60  # Miles for visitor classification
MIN_TRANSACTION_AMOUNT = 50.0  # Minimum to qualify as accommodation booking

In [47]:
# DATA QUALITY THRESHOLDS (95% CI, 5% MOE)
MIN_SAMPLE_EXCLUDE = 600  # Exclude geography if below this
MIN_SAMPLE_ROLLING = 2000  # Use 3-month rolling if below this

In [48]:
# Filter and join to get accommodation transactions
accommodation_transactions = (
    transaction_df
    .filter(
        (F.col("trans_date") >= F.lit(START_DATE)) &
        (F.col("trans_date") <= F.lit(END_DATE)) &
        (F.col("trans_distance") > DISTANCE_THRESHOLD) &
        (F.col("trans_amount") >= MIN_TRANSACTION_AMOUNT)
    )
    .join(
        merchant_df.filter(
            (F.col("merch_type") == 0) &  # Physical locations only
            (F.col("merch_country") == "US") &
            (
                (F.col("mcc").between("3501", "3838")) |
                (F.col("mcc").isin("7011", "7012"))
            )
        ),
        on=["mtid", "ref_date"],
        how="inner"
    )
    .select(
        F.col("merch_state"),
        F.trunc(F.col("trans_date"), "month").alias("month_date"),
        F.col("trans_amount"),
        F.col("membccid")
    )
)

# Calculate P5 and P98 thresholds per state per month for outlier removal
state_thresholds = (
    accommodation_transactions
    .groupBy("merch_state", "month_date")
    .agg(
        F.expr("percentile_approx(trans_amount, 0.05)").alias("p5"),
        F.expr("percentile_approx(trans_amount, 0.98)").alias("p98")
    )
)

# Filter out outliers (transactions below P5 or above P98)
accommodations_no_outliers = (
    accommodation_transactions
    .join(
        state_thresholds,
        on=["merch_state", "month_date"],
        how="inner"
    )
    .filter(
        (F.col("trans_amount") >= F.col("p5")) &
        (F.col("trans_amount") <= F.col("p98"))
    )
)

# Calculate median accommodation cost with data quality flags
accommodation_state_results = (
    accommodations_no_outliers
    .groupBy("merch_state", "month_date")
    .agg(
        F.expr("percentile_approx(trans_amount, 0.50)").alias("accommodation_cost"),
        F.count("*").alias("transaction_count"),
        F.countDistinct("membccid").alias("unique_visitors"),
        F.min("trans_amount").alias("min_cost"),
        F.max("trans_amount").alias("max_cost"),
        F.expr("percentile_approx(trans_amount, 0.25)").alias("q25"),
        F.expr("percentile_approx(trans_amount, 0.75)").alias("q75")
    )
    .withColumn(
        "data_quality_flag",
        F.when(F.col("unique_visitors") < MIN_SAMPLE_EXCLUDE, "EXCLUDE")
        .when(F.col("unique_visitors") < MIN_SAMPLE_ROLLING, "ROLLING_3MO")
        .otherwise("SINGLE_MONTH")
    )
    .withColumn("period_start", F.lit(START_DATE))
    .withColumn("period_end", F.lit(END_DATE))
    .withColumn("calculation_timestamp", F.current_timestamp())
    .orderBy(F.col("month_date"), F.col("transaction_count").desc())
)

# Display results
accommodation_state_results.show(50, truncate=False)

[Stage 292:====================================================>(151 + 1) / 152]65]]

+-----------+----------+------------------+-----------------+---------------+--------+--------+------+------+-----------------+------------+----------+--------------------------+
|merch_state|month_date|accommodation_cost|transaction_count|unique_visitors|min_cost|max_cost|q25   |q75   |data_quality_flag|period_start|period_end|calculation_timestamp     |
+-----------+----------+------------------+-----------------+---------------+--------+--------+------+------+-----------------+------------+----------+--------------------------+
|FL         |2024-01-01|224.27            |25752            |14816          |61.81   |3496.01 |127.69|487.1 |SINGLE_MONTH     |2024-01-01  |2024-12-31|2025-11-25 21:49:18.280905|
|TX         |2024-01-01|176.01            |24668            |12821          |57.8    |1256.31 |109.84|340.44|SINGLE_MONTH     |2024-01-01  |2024-12-31|2025-11-25 21:49:18.280905|
|CA         |2024-01-01|208.62            |23136            |13096          |63.79   |1978.91 |117.71|397.52|SINGLE_MONTH     |2024-01-01  |2024-12-31|2025-11-25 21:49:18.280905|
|NV         |2024-01-01|211.62            |15857            |9920           |62.45   |1647.18 |124.69|395.15|SINGLE_MONTH     |2024-01-01  |2024-12-31|2025-11-25 21:49:18.280905|
|GA         |2024-01-01|183.4             |8996             |5266           |60.66   |1323.62 |113.98|340.95|SINGLE_MONTH     |2024-01-01  |2024-12-31|2025-11-25 21:49:18.280905|
|CO         |2024-01-01|180.01            |8419             |5019           |58.71   |2045.16 |110.14|339.18|SINGLE_MONTH     |2024-01-01  |2024-12-31|2025-11-25 21:49:18.280905|
|TN         |2024-01-01|178.25            |8230             |5169           |57.31   |1445.42 |115.03|319.32|SINGLE_MONTH     |2024-01-01  |2024-12-31|2025-11-25 21:49:18.280905|
|LA         |2024-01-01|188.27            |8198             |3980           |59.33   |1294.62 |115.21|378.16|SINGLE_MONTH     |2024-01-01  |2024-12-31|2025-11-25 21:49:18.280905|
|VA         |2024-01-01|176.22            |7680             |3672           |60.92   |1171.69 |112.35|317.94|SINGLE_MONTH     |2024-01-01  |2024-12-31|2025-11-25 21:49:18.280905|
|AZ         |2024-01-01|200.14            |7399             |4407           |57.98   |2118.95 |113.04|425.67|SINGLE_MONTH     |2024-01-01  |2024-12-31|2025-11-25 21:49:18.280905|
|NC         |2024-01-01|180.19            |7115             |3882           |60.37   |1890.6  |111.68|332.6 |SINGLE_MONTH     |2024-01-01  |2024-12-31|2025-11-25 21:49:18.280905|
|IL         |2024-01-01|177.93            |6929             |4240           |57.99   |1192.6  |111.18|307.87|SINGLE_MONTH     |2024-01-01  |2024-12-31|2025-11-25 21:49:18.280905|
|WI         |2024-01-01|176.64            |6710             |4236           |64.32   |984.65  |116.9 |289.3 |SINGLE_MONTH     |2024-01-01  |2024-12-31|2025-11-25 21:49:18.280905|
|PA         |2024-01-01|179.95            |6595             |3883           |60.08   |982.86  |119.72|305.57|SINGLE_MONTH     |2024-01-01  |2024-12-31|2025-11-25 21:49:18.280905|
|OH         |2024-01-01|182.61            |5918             |3387           |61.92   |967.29  |122.45|306.73|SINGLE_MONTH     |2024-01-01  |2024-12-31|2025-11-25 21:49:18.280905|
|OK         |2024-01-01|148.68            |5730             |3370           |53.77   |856.97  |101.79|240.09|SINGLE_MONTH     |2024-01-01  |2024-12-31|2025-11-25 21:49:18.280905|
|MO         |2024-01-01|165.64            |5587             |3568           |59.49   |1036.7  |108.58|283.13|SINGLE_MONTH     |2024-01-01  |2024-12-31|2025-11-25 21:49:18.280905|
|NM         |2024-01-01|153.77            |5168             |3027           |55.99   |996.07  |102.24|238.52|SINGLE_MONTH     |2024-01-01  |2024-12-31|2025-11-25 21:49:18.280905|
|NY         |2024-01-01|211.87            |5162             |3286           |64.88   |2191.55 |135.76|411.72|SINGLE_MONTH     |2024-01-01  |2024-12-31|2025-11-25 21:49:18.280905|
|KS         |2024-01-01|151.12            |5142             |2974           |62.91   |831.57  |109.55|249.83|SINGLE_MONTH     |2024-01-01  |2024-12-31|2025-11-25 21:49:18.280905|
|IN         |2024-01-01|182.32            |5122             |2911           |56.01   |1136.07 |120.59|347.2 |SINGLE_MONTH     |2024-01-01  |2024-12-31|2025-11-25 21:49:18.280905|
|MN         |2024-01-01|192.93            |4850             |3035           |61.53   |1210.91 |124.85|333.24|SINGLE_MONTH     |2024-01-01  |2024-12-31|2025-11-25 21:49:18.280905|
|MI         |2024-01-01|174.16            |4765             |2900           |59.16   |1033.27 |112.62|301.54|SINGLE_MONTH     |2024-01-01  |2024-12-31|2025-11-25 21:49:18.280905|
|WA         |2024-01-01|186.03            |4694             |2669           |58.6    |2018.93 |120.19|341.24|SINGLE_MONTH     |2024-01-01  |2024-12-31|2025-11-25 21:49:18.280905|
|MS         |2024-01-01|138.32            |4579             |2495           |55.32   |789.46  |96.46 |218.73|SINGLE_MONTH     |2024-01-01  |2024-12-31|2025-11-25 21:49:18.280905|
|OR         |2024-01-01|227.29            |4453             |2631           |65.65   |2655.05 |140.58|467.03|SINGLE_MONTH     |2024-01-01  |2024-12-31|2025-11-25 21:49:18.280905|
|KY         |2024-01-01|157.99            |4360             |2739           |59.66   |1016.26 |108.54|264.62|SINGLE_MONTH     |2024-01-01  |2024-12-31|2025-11-25 21:49:18.280905|
|IA         |2024-01-01|165.94            |4047             |2272           |64.27   |907.14  |113.42|274.2 |SINGLE_MONTH     |2024-01-01  |2024-12-31|2025-11-25 21:49:18.280905|
|SC         |2024-01-01|184.17            |4041             |2420           |61.32   |1590.07 |119.21|357.29|SINGLE_MONTH     |2024-01-01  |2024-12-31|2025-11-25 21:49:18.280905|
|AK         |2024-01-01|168.38            |3913             |2274           |54.37   |1240.55 |106.63|278.8 |SINGLE_MONTH     |2024-01-01  |2024-12-31|2025-11-25 21:49:18.280905|
|AL         |2024-01-01|174.97            |3799             |2219           |63.18   |1071.88 |114.73|302.78|SINGLE_MONTH     |2024-01-01  |2024-12-31|2025-11-25 21:49:18.280905|
|AR         |2024-01-01|154.31            |3558             |2054           |61.15   |820.18  |108.17|246.09|SINGLE_MONTH     |2024-01-01  |2024-12-31|2025-11-25 21:49:18.280905|
|HI         |2024-01-01|260.58            |3141             |1781           |56.68   |4047.01 |138.41|577.36|ROLLING_3MO      |2024-01-01  |2024-12-31|2025-11-25 21:49:18.280905|
|MD         |2024-01-01|183.01            |3010             |1848           |57.06   |1675.23 |113.7 |338.72|ROLLING_3MO      |2024-01-01  |2024-12-31|2025-11-25 21:49:18.280905|
|UT         |2024-01-01|160.28            |2938             |1808           |53.86   |1602.13 |100.24|292.48|ROLLING_3MO      |2024-01-01  |2024-12-31|2025-11-25 21:49:18.280905|
|MT         |2024-01-01|179.77            |2791             |1460           |72.98   |1119.87 |122.81|308.04|ROLLING_3MO      |2024-01-01  |2024-12-31|2025-11-25 21:49:18.280905|
|SD         |2024-01-01|148.27            |2490             |1626           |56.97   |899.92  |100.71|245.48|ROLLING_3MO      |2024-01-01  |2024-12-31|2025-11-25 21:49:18.280905|
|NJ         |2024-01-01|188.14            |2485             |1603           |61.25   |1067.43 |127.97|331.68|ROLLING_3MO      |2024-01-01  |2024-12-31|2025-11-25 21:49:18.280905|
|WV         |2024-01-01|156.94            |2450             |1511           |62.85   |911.78  |109.91|262.32|ROLLING_3MO      |2024-01-01  |2024-12-31|2025-11-25 21:49:18.280905|
|WY         |2024-01-01|147.9             |2309             |1161           |61.18   |1105.83 |107.67|247.32|ROLLING_3MO      |2024-01-01  |2024-12-31|2025-11-25 21:49:18.280905|
|NE         |2024-01-01|151.22            |2196             |1255           |62.45   |788.82  |108.69|225.58|ROLLING_3MO      |2024-01-01  |2024-12-31|2025-11-25 21:49:18.280905|
|MA         |2024-01-01|203.16            |1867             |1212           |59.04   |1619.55 |118.27|365.03|ROLLING_3MO      |2024-01-01  |2024-12-31|2025-11-25 21:49:18.280905|
|ID         |2024-01-01|158.64            |1696             |927            |61.75   |1256.0  |112.66|295.96|ROLLING_3MO      |2024-01-01  |2024-12-31|2025-11-25 21:49:18.280905|
|ND         |2024-01-01|164.66            |1514             |872            |71.1    |794.54  |120.24|256.9 |ROLLING_3MO      |2024-01-01  |2024-12-31|2025-11-25 21:49:18.280905|
|DC         |2024-01-01|319.07            |1360             |878            |60.16   |2294.49 |163.89|696.23|ROLLING_3MO      |2024-01-01  |2024-12-31|2025-11-25 21:49:18.280905|
|CT         |2024-01-01|202.14            |1119             |705            |70.6    |1552.88 |107.85|345.06|ROLLING_3MO      |2024-01-01  |2024-12-31|2025-11-25 21:49:18.280905|
|NH         |2024-01-01|207.15            |632              |439            |61.66   |1307.39 |130.39|370.25|EXCLUDE          |2024-01-01  |2024-12-31|2025-11-25 21:49:18.280905|
|DE         |2024-01-01|157.8             |610              |359            |57.96   |1362.91 |105.41|296.35|EXCLUDE          |2024-01-01  |2024-12-31|2025-11-25 21:49:18.280905|
|ME         |2024-01-01|232.4             |605              |406            |64.89   |1479.07 |135.84|385.51|EXCLUDE          |2024-01-01  |2024-12-31|2025-11-25 21:49:18.280905|
|VT         |2024-01-01|247.03            |416              |260            |70.18   |1603.83 |148.64|467.3 |EXCLUDE          |2024-01-01  |2024-12-31|2025-11-25 21:49:18.280905|
+-----------+----------+------------------+-----------------+---------------+--------+--------+------+------+-----------------+------------+----------+--------------------------+
only showing top 50 rows

In [ ]:
 #Optional: Save results to a table or export to CSV
output_filename = f"gs://cost_of_travel_index_staging/results/accommodation_state_results_{START_DATE.strftime('%Y%m%d')}_{END_DATE.strftime('%Y%m%d')}.csv"
accommodation_state_results.toPandas().to_csv(output_filename, index=False)

[Stage 298:=========>(900 + 100) / 1000][Stage 300:>          (55 + 606) / 1000] / 1765]]