In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [58]:
acc = pd.read_csv('accommodations.csv')

In [59]:
acc.head()

,merch_state,month_date,accommodation_cost,transaction_count,unique_visitors,min_cost,max_cost,q25,q75,data_quality_flag,period_start,period_end,calculation_timestamp
0,CA,2025-07-01,226.210007,3110620,15189,60.599998,2176.500000,118.279999,442.809998,SINGLE_MONTH,2025-07-01,2025-07-31,2025-11-17 17:09:55.700779 UTC
1,FL,2025-07-01,204.929993,3030349,13474,56.240002,2706.110107,113.739998,419.549988,SINGLE_MONTH,2025-07-01,2025-07-31,2025-11-17 17:09:55.700779 UTC
2,TX,2025-07-01,191.289993,2892604,13578,56.040001,1395.589966,117.139999,354.649994,SINGLE_MONTH,2025-07-01,2025-07-31,2025-11-17 17:09:55.700779 UTC
3,NV,2025-07-01,200.199997,2335029,9115,59.110001,1483.680054,112.790001,376.690002,SINGLE_MONTH,2025-07-01,2025-07-31,2025-11-17 17:09:55.700779 UTC
4,TN,2025-07-01,201.539993,1567611,7025,56.680000,1573.969971,118.449997,371.350006,SINGLE_MONTH,2025-07-01,2025-07-31,2025-11-17 17:09:55.700779 UTC

In [60]:
acc.sort_values(by='unique_visitors', ascending=True)[:10]

,merch_state,month_date,accommodation_cost,transaction_count,unique_visitors,min_cost,max_cost,q25,q75,data_quality_flag,period_start,period_end,calculation_timestamp
51,XX,2025-07-01,1107.770020,6,1,201.699997,1145.930054,201.699997,1145.930054,EXCLUDE,2025-07-01,2025-07-31,2025-11-17 17:09:55.700779 UTC
50,RI,2025-07-01,341.529999,30083,230,59.029999,1761.920044,210.509995,631.700012,SINGLE_MONTH,2025-07-01,2025-07-31,2025-11-17 17:09:55.700779 UTC
49,VT,2025-07-01,286.230011,35438,255,64.180000,2546.939941,177.210007,588.299988,SINGLE_MONTH,2025-07-01,2025-07-31,2025-11-17 17:09:55.700779 UTC
46,DE,2025-07-01,236.809998,81033,600,56.599998,1585.760010,118.110001,422.609985,SINGLE_MONTH,2025-07-01,2025-07-31,2025-11-17 17:09:55.700779 UTC
47,NH,2025-07-01,238.850006,76282,617,59.919998,1490.719971,159.860001,388.880005,SINGLE_MONTH,2025-07-01,2025-07-31,2025-11-17 17:09:55.700779 UTC
48,ME,2025-07-01,311.190002,75165,789,55.860001,2124.030029,184.139999,583.390015,SINGLE_MONTH,2025-07-01,2025-07-31,2025-11-17 17:09:55.700779 UTC
43,DC,2025-07-01,353.750000,218100,924,59.410000,2436.979980,157.440002,802.460022,SINGLE_MONTH,2025-07-01,2025-07-31,2025-11-17 17:09:55.700779 UTC
44,ND,2025-07-01,201.820007,198756,1153,73.610001,1193.060059,129.220001,337.529999,SINGLE_MONTH,2025-07-01,2025-07-31,2025-11-17 17:09:55.700779 UTC
45,CT,2025-07-01,220.169998,146045,1512,63.669998,1127.310059,111.190002,357.309998,SINGLE_MONTH,2025-07-01,2025-07-31,2025-11-17 17:09:55.700779 UTC
40,ID,2025-07-01,216.639999,356072,1524,63.619999,1378.510010,154.399994,373.359985,SINGLE_MONTH,2025-07-01,2025-07-31,2025-11-17 17:09:55.700779 UTC

In [61]:
att = pd.read_csv('attractions.csv')

In [62]:
att.head()

,merch_state,month_date,attraction_cost,transaction_count,unique_visitors,data_quality_flag,period_start,period_end,calculation_timestamp
0,CA,2025-07-01,21.980000,12488681,42031,SINGLE_MONTH,2025-07-01,2025-07-31,2025-11-17 17:11:23.602716 UTC
1,TN,2025-07-01,31.639999,8483948,34042,SINGLE_MONTH,2025-07-01,2025-07-31,2025-11-17 17:11:23.602716 UTC
2,NY,2025-07-01,18.950001,7163777,22163,SINGLE_MONTH,2025-07-01,2025-07-31,2025-11-17 17:11:23.602716 UTC
3,TX,2025-07-01,18.900000,7006214,36972,SINGLE_MONTH,2025-07-01,2025-07-31,2025-11-17 17:11:23.602716 UTC
4,FL,2025-07-01,45.349998,6540884,27600,SINGLE_MONTH,2025-07-01,2025-07-31,2025-11-17 17:11:23.602716 UTC

In [63]:
att.sort_values(by='unique_visitors', ascending=True)[:10]

,merch_state,month_date,attraction_cost,transaction_count,unique_visitors,data_quality_flag,period_start,period_end,calculation_timestamp
51,XX,2025-07-01,19.549999,1560,27,ROLLING_3MO,2025-07-01,2025-07-31,2025-11-17 17:11:23.602716 UTC
50,RI,2025-07-01,31.940001,46002,345,SINGLE_MONTH,2025-07-01,2025-07-31,2025-11-17 17:11:23.602716 UTC
49,VT,2025-07-01,14.800000,55331,522,SINGLE_MONTH,2025-07-01,2025-07-31,2025-11-17 17:11:23.602716 UTC
46,ND,2025-07-01,23.760000,110612,674,SINGLE_MONTH,2025-07-01,2025-07-31,2025-11-17 17:11:23.602716 UTC
44,CT,2025-07-01,34.619999,208662,1007,SINGLE_MONTH,2025-07-01,2025-07-31,2025-11-17 17:11:23.602716 UTC
45,MT,2025-07-01,32.389999,126028,1019,SINGLE_MONTH,2025-07-01,2025-07-31,2025-11-17 17:11:23.602716 UTC
47,ME,2025-07-01,36.939999,99792,1085,SINGLE_MONTH,2025-07-01,2025-07-31,2025-11-17 17:11:23.602716 UTC
48,DC,2025-07-01,23.910000,91852,1187,SINGLE_MONTH,2025-07-01,2025-07-31,2025-11-17 17:11:23.602716 UTC
43,WY,2025-07-01,23.950001,312980,1427,SINGLE_MONTH,2025-07-01,2025-07-31,2025-11-17 17:11:23.602716 UTC
41,WV,2025-07-01,20.250000,353178,1954,SINGLE_MONTH,2025-07-01,2025-07-31,2025-11-17 17:11:23.602716 UTC

In [64]:
att.head()

,merch_state,month_date,attraction_cost,transaction_count,unique_visitors,data_quality_flag,period_start,period_end,calculation_timestamp
0,CA,2025-07-01,21.980000,12488681,42031,SINGLE_MONTH,2025-07-01,2025-07-31,2025-11-17 17:11:23.602716 UTC
1,TN,2025-07-01,31.639999,8483948,34042,SINGLE_MONTH,2025-07-01,2025-07-31,2025-11-17 17:11:23.602716 UTC
2,NY,2025-07-01,18.950001,7163777,22163,SINGLE_MONTH,2025-07-01,2025-07-31,2025-11-17 17:11:23.602716 UTC
3,TX,2025-07-01,18.900000,7006214,36972,SINGLE_MONTH,2025-07-01,2025-07-31,2025-11-17 17:11:23.602716 UTC
4,FL,2025-07-01,45.349998,6540884,27600,SINGLE_MONTH,2025-07-01,2025-07-31,2025-11-17 17:11:23.602716 UTC

In [65]:
att.sort_values(by='unique_visitors', ascending=True)[:10]

,merch_state,month_date,attraction_cost,transaction_count,unique_visitors,data_quality_flag,period_start,period_end,calculation_timestamp
51,XX,2025-07-01,19.549999,1560,27,ROLLING_3MO,2025-07-01,2025-07-31,2025-11-17 17:11:23.602716 UTC
50,RI,2025-07-01,31.940001,46002,345,SINGLE_MONTH,2025-07-01,2025-07-31,2025-11-17 17:11:23.602716 UTC
49,VT,2025-07-01,14.800000,55331,522,SINGLE_MONTH,2025-07-01,2025-07-31,2025-11-17 17:11:23.602716 UTC
46,ND,2025-07-01,23.760000,110612,674,SINGLE_MONTH,2025-07-01,2025-07-31,2025-11-17 17:11:23.602716 UTC
44,CT,2025-07-01,34.619999,208662,1007,SINGLE_MONTH,2025-07-01,2025-07-31,2025-11-17 17:11:23.602716 UTC
45,MT,2025-07-01,32.389999,126028,1019,SINGLE_MONTH,2025-07-01,2025-07-31,2025-11-17 17:11:23.602716 UTC
47,ME,2025-07-01,36.939999,99792,1085,SINGLE_MONTH,2025-07-01,2025-07-31,2025-11-17 17:11:23.602716 UTC
48,DC,2025-07-01,23.910000,91852,1187,SINGLE_MONTH,2025-07-01,2025-07-31,2025-11-17 17:11:23.602716 UTC
43,WY,2025-07-01,23.950001,312980,1427,SINGLE_MONTH,2025-07-01,2025-07-31,2025-11-17 17:11:23.602716 UTC
41,WV,2025-07-01,20.250000,353178,1954,SINGLE_MONTH,2025-07-01,2025-07-31,2025-11-17 17:11:23.602716 UTC

In [66]:
rest = pd.read_csv('restaurants.csv')

In [67]:
rest.head()

,merch_state,month_date,breakfast_lunch_cost,dinner_cost,median_meal_cost,transaction_count,unique_visitors,data_quality_flag,period_start,period_end,calculation_timestamp
0,TX,2025-07-01,21.360001,41.990002,29.950001,22798195,72052,SINGLE_MONTH,2025-07-01,2025-07-31,2025-11-17 17:12:27.411008 UTC
1,CA,2025-07-01,20.889999,43.700001,30.049999,21429644,82848,SINGLE_MONTH,2025-07-01,2025-07-31,2025-11-17 17:12:27.411008 UTC
2,FL,2025-07-01,27.030001,57.279999,39.570000,20750681,71615,SINGLE_MONTH,2025-07-01,2025-07-31,2025-11-17 17:12:27.411008 UTC
3,TN,2025-07-01,25.309999,46.509998,35.509998,12944554,42812,SINGLE_MONTH,2025-07-01,2025-07-31,2025-11-17 17:12:27.411008 UTC
4,CO,2025-07-01,20.219999,39.950001,28.370001,10702818,55690,SINGLE_MONTH,2025-07-01,2025-07-31,2025-11-17 17:12:27.411008 UTC

In [68]:
rest.sort_values(by='unique_visitors', ascending=True)[:10]

,merch_state,month_date,breakfast_lunch_cost,dinner_cost,median_meal_cost,transaction_count,unique_visitors,data_quality_flag,period_start,period_end,calculation_timestamp
51,XX,2025-07-01,7.610000,17.330000,11.390000,4967,28,SINGLE_MONTH,2025-07-01,2025-07-31,2025-11-17 17:12:27.411008 UTC
50,VT,2025-07-01,18.150000,37.000000,25.790001,392399,2046,SINGLE_MONTH,2025-07-01,2025-07-31,2025-11-17 17:12:27.411008 UTC
49,RI,2025-07-01,22.000000,46.209999,32.119999,450748,2560,SINGLE_MONTH,2025-07-01,2025-07-31,2025-11-17 17:12:27.411008 UTC
47,CT,2025-07-01,20.530001,41.290001,28.860001,863165,4343,SINGLE_MONTH,2025-07-01,2025-07-31,2025-11-17 17:12:27.411008 UTC
44,ND,2025-07-01,20.160000,39.099998,28.389999,1257878,4750,SINGLE_MONTH,2025-07-01,2025-07-31,2025-11-17 17:12:27.411008 UTC
45,DC,2025-07-01,16.139999,33.470001,22.110001,1228378,5162,SINGLE_MONTH,2025-07-01,2025-07-31,2025-11-17 17:12:27.411008 UTC
48,NH,2025-07-01,29.780001,56.840000,41.560001,827895,5276,SINGLE_MONTH,2025-07-01,2025-07-31,2025-11-17 17:12:27.411008 UTC
46,ME,2025-07-01,26.520000,56.950001,39.090000,1109359,6467,SINGLE_MONTH,2025-07-01,2025-07-31,2025-11-17 17:12:27.411008 UTC
41,WY,2025-07-01,22.639999,43.169998,31.809999,1935083,7417,SINGLE_MONTH,2025-07-01,2025-07-31,2025-11-17 17:12:27.411008 UTC
42,MT,2025-07-01,23.340000,44.970001,32.759998,1915520,7689,SINGLE_MONTH,2025-07-01,2025-07-31,2025-11-17 17:12:27.411008 UTC

In [69]:
ret = pd.read_csv('retail.csv')

In [70]:
ret.head()

,merch_state,month_date,retail_cost,transaction_count,unique_visitors,data_quality_flag,period_start,period_end,calculation_timestamp
0,CA,2025-07-01,29.719999,114808588,277783,SINGLE_MONTH,2025-07-01,2025-07-31,2025-11-17 17:13:33.893848 UTC
1,FL,2025-07-01,40.610001,21545061,91122,SINGLE_MONTH,2025-07-01,2025-07-31,2025-11-17 17:13:33.893848 UTC
2,NY,2025-07-01,42.070000,20794386,107918,SINGLE_MONTH,2025-07-01,2025-07-31,2025-11-17 17:13:33.893848 UTC
3,TX,2025-07-01,42.189999,16490874,73848,SINGLE_MONTH,2025-07-01,2025-07-31,2025-11-17 17:13:33.893848 UTC
4,OH,2025-07-01,53.790001,12846355,52182,SINGLE_MONTH,2025-07-01,2025-07-31,2025-11-17 17:13:33.893848 UTC

In [71]:
ret.sort_values(by='unique_visitors', ascending=True)[:10]

,merch_state,month_date,retail_cost,transaction_count,unique_visitors,data_quality_flag,period_start,period_end,calculation_timestamp
51,XX,2025-07-01,7.170000,23,3,EXCLUDE,2025-07-01,2025-07-31,2025-11-17 17:13:33.893848 UTC
50,DC,2025-07-01,24.280001,340232,1734,SINGLE_MONTH,2025-07-01,2025-07-31,2025-11-17 17:13:33.893848 UTC
49,RI,2025-07-01,34.599998,362468,2346,SINGLE_MONTH,2025-07-01,2025-07-31,2025-11-17 17:13:33.893848 UTC
48,VT,2025-07-01,50.689999,1014707,3572,SINGLE_MONTH,2025-07-01,2025-07-31,2025-11-17 17:13:33.893848 UTC
43,WV,2025-07-01,36.500000,1294238,5247,SINGLE_MONTH,2025-07-01,2025-07-31,2025-11-17 17:13:33.893848 UTC
47,NE,2025-07-01,42.580002,1094698,5465,SINGLE_MONTH,2025-07-01,2025-07-31,2025-11-17 17:13:33.893848 UTC
44,ME,2025-07-01,34.779999,1170466,5746,SINGLE_MONTH,2025-07-01,2025-07-31,2025-11-17 17:13:33.893848 UTC
46,NH,2025-07-01,37.830002,1116344,6395,SINGLE_MONTH,2025-07-01,2025-07-31,2025-11-17 17:13:33.893848 UTC
45,ND,2025-07-01,52.889999,1150058,6485,SINGLE_MONTH,2025-07-01,2025-07-31,2025-11-17 17:13:33.893848 UTC
41,MT,2025-07-01,38.049999,1457008,7002,SINGLE_MONTH,2025-07-01,2025-07-31,2025-11-17 17:13:33.893848 UTC

In [72]:
merge_1 = pd.merge(acc, att, how='left', on='merch_state', suffixes=("_acc", "_att"))

In [73]:
merge_2 = pd.merge(rest, ret, how='left', on='merch_state', suffixes=("_rest", "_ret"))

In [74]:
final = pd.merge(merge_1, merge_2, how='left', on='merch_state')

In [75]:
final.head()

,merch_state,month_date_acc,accommodation_cost,transaction_count_acc,unique_visitors_acc,min_cost,max_cost,q25,q75,data_quality_flag_acc,...,period_end_rest,calculation_timestamp_rest,month_date_ret,retail_cost,transaction_count_ret,unique_visitors_ret,data_quality_flag_ret,period_start_ret,period_end_ret,calculation_timestamp_ret
0,CA,2025-07-01,226.210007,3110620,15189,60.599998,2176.500000,118.279999,442.809998,SINGLE_MONTH,...,2025-07-31,2025-11-17 17:12:27.411008 UTC,2025-07-01,29.719999,114808588,277783,SINGLE_MONTH,2025-07-01,2025-07-31,2025-11-17 17:13:33.893848 UTC
1,FL,2025-07-01,204.929993,3030349,13474,56.240002,2706.110107,113.739998,419.549988,SINGLE_MONTH,...,2025-07-31,2025-11-17 17:12:27.411008 UTC,2025-07-01,40.610001,21545061,91122,SINGLE_MONTH,2025-07-01,2025-07-31,2025-11-17 17:13:33.893848 UTC
2,TX,2025-07-01,191.289993,2892604,13578,56.040001,1395.589966,117.139999,354.649994,SINGLE_MONTH,...,2025-07-31,2025-11-17 17:12:27.411008 UTC,2025-07-01,42.189999,16490874,73848,SINGLE_MONTH,2025-07-01,2025-07-31,2025-11-17 17:13:33.893848 UTC
3,NV,2025-07-01,200.199997,2335029,9115,59.110001,1483.680054,112.790001,376.690002,SINGLE_MONTH,...,2025-07-31,2025-11-17 17:12:27.411008 UTC,2025-07-01,26.410000,5891292,25417,SINGLE_MONTH,2025-07-01,2025-07-31,2025-11-17 17:13:33.893848 UTC
4,TN,2025-07-01,201.539993,1567611,7025,56.680000,1573.969971,118.449997,371.350006,SINGLE_MONTH,...,2025-07-31,2025-11-17 17:12:27.411008 UTC,2025-07-01,40.919998,9093056,35588,SINGLE_MONTH,2025-07-01,2025-07-31,2025-11-17 17:13:33.893848 UTC

In [76]:
final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 39 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   merch_state                 52 non-null     object
 1   month_date_acc              52 non-null     object
 2   accommodation_cost          52 non-null     float64
 3   transaction_count_acc       52 non-null     int64
 4   unique_visitors_acc         52 non-null     int64
 5   min_cost                    52 non-null     float64
 6   max_cost                    52 non-null     float64
 7   q25                         52 non-null     float64
 8   q75                         52 non-null     float64
 9   data_quality_flag_acc       52 non-null     object
 10  period_start_acc            52 non-null     object
 11  period_end_acc              52 non-null     object
 12  calculation_timestamp_acc   52 non-null     object
 13  month_date_att              52 non-null     object
 14  attraction_cost             52 non-null     float64
 15  transaction_count_att       52 non-null     int64
 16  unique_visitors_att         52 non-null     int64
 17  data_quality_flag_att       52 non-null     object
 18  period_start_att            52 non-null     object
 19  period_end_att              52 non-null     object
 20  calculation_timestamp_att   52 non-null     object
 21  month_date_rest             52 non-null     object
 22  breakfast_lunch_cost        52 non-null     float64
 23  dinner_cost                 52 non-null     float64
 24  median_meal_cost            52 non-null     float64
 25  transaction_count_rest      52 non-null     int64
 26  unique_visitors_rest        52 non-null     int64
 27  data_quality_flag_rest      52 non-null     object
 28  period_start_rest           52 non-null     object
 29  period_end_rest             52 non-null     object
 30  calculation_timestamp_rest  52 non-null     object
 31  month_date_ret              52 non-null     object
 32  retail_cost                 52 non-null     float64
 33  transaction_count_ret       52 non-null     int64
 34  unique_visitors_ret         52 non-null     int64
 35  data_quality_flag_ret       52 non-null     object
 36  period_start_ret            52 non-null     object
 37  period_end_ret              52 non-null     object
 38  calculation_timestamp_ret   52 non-null     object
dtypes: float64(10), int64(8), object(21)
memory usage: 16.0+ KB

In [77]:
trim = final[['merch_state', 'accommodation_cost', 'attraction_cost', 'breakfast_lunch_cost', 'dinner_cost', 'median_meal_cost', 
              'retail_cost']]

In [78]:
trim.head()

,merch_state,accommodation_cost,attraction_cost,breakfast_lunch_cost,dinner_cost,median_meal_cost,retail_cost
0,CA,226.210007,21.980000,20.889999,43.700001,30.049999,29.719999
1,FL,204.929993,45.349998,27.030001,57.279999,39.570000,40.610001
2,TX,191.289993,18.900000,21.360001,41.990002,29.950001,42.189999
3,NV,200.199997,28.559999,24.590000,48.939999,34.340000,26.410000
4,TN,201.539993,31.639999,25.309999,46.509998,35.509998,40.919998

In [79]:
trim['cost_per_trip'] = (trim['accommodation_cost']*2)+ (trim['attraction_cost']*2)+ (trim['breakfast_lunch_cost']*4)+ (trim['dinner_cost']*2)+ (trim['retail_cost']*2)

/var/folders/tt/3g3mlsjs2ns5s373578hytch0000gp/T/ipykernel_31435/4074024167.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trim['cost_per_trip'] = (trim['accommodation_cost']*2)+ (trim['attraction_cost']*2)+ (trim['breakfast_lunch_cost']*4)+ (trim['dinner_cost']*2)+ (trim['retail_cost']*2)

In [56]:
trim.head()

,merch_state,accommodation_cost,attraction_cost,breakfast_lunch_cost,dinner_cost,median_meal_cost,retail_cost,cost_per_trip
0,FL,205.309998,44.990002,27.040001,57.669998,39.830002,40.029999,804.159996
1,CA,221.559998,20.930000,20.900000,43.590000,30.090000,29.700001,715.159996
2,TX,190.220001,18.879999,21.650000,42.730000,30.510000,40.790001,671.840000
3,NV,193.809998,30.610001,24.570000,48.680000,34.240002,25.430000,695.339996
4,TN,199.919998,32.849998,26.000000,46.869999,36.139999,39.919998,743.119987

In [80]:
trim = trim.loc[trim['merch_state'] !='XX']

In [81]:
trim.to_csv('July_month_test.csv', index=False)